<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spider Storage - Login</title>

    {{! CSS }}

    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="/boxicons/css/boxicons.min.css">

</head>
<body>
    <main>

        <section>
            {{{ body }}}
        </section>
        
    </main>
    
</body>
</html>