<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>


    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/modal.css">
    <link rel="stylesheet" href="/boxicons/css/boxicons.min.css">
        
    <script src="/boxicons/dist/boxicons.js"></script>
        
    <title>Spider Storage</title>
    <link rel="icon" href="/public/img/aranha-white.png" type="image/x-icon">
</head>
<body>
  
  <!-- Corpo da Página -->
  {{{body}}} 

  <script src="/public/js/script.js"></script>
</body>
</html>