<head>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<div class="container-login">
    <div class="img-box">
        <img src="/public/img/logo.png">
    <div class="content-box">
        <div class="form-box">
            <h2>Login</h2>
            <form action="/login" method="post" id="login">
                <div class="input-box">
                    <span>Username</span>
                    <input type="email" placeholder="@mail.com" name="email">
                </div>
                <div class="input-box">
                    <span>Password</span>
                    <input type="password" placeholder="password" name="password">
                </div>
                <div class="input-button">
                    <span></span>
                    <input type="submit" value="Entrar">
                </div>
                <div class="input-button">
                    <p>Não possui uma conta? <a href="/views/user/register.handlebars">
                    <input type="button" value="Register Now">
                    </a></p>
                </div>
            </form>
        </div>
    </div>
</div>